* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(224, 231, 231);
    width: 250px;
    height: 100vh;
    transition: transform 0.2s ease-in;
}

.sidebarGo {
    transform: translate(-250px, 0px);
    position: absolute;
}

.sidebar nav {
    padding: 45px;
    border-top-right-radius: 10px

}

.sidebar nav li {
    list-style: none;
    font-size: 24px;
    padding: 20px 0;

}

.sidebar nav li a {
    text-decoration: none;
}

.main {
    background-color:rgb(220, 212, 212);
    width: 80em;
    height: 100vh;
}

.container {
    display: flex;
    background-color: azure;
}

.infocontainer {
    background-color: rgb(236, 226, 214);
    border-radius: 10px;
    width: 75vw;
    height: 57vh;
    margin: auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    background-color:rgb(236, 226, 214);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.devpic img {
    height: 57vh;
    border-radius: 10px;
}

.hello {
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.name {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
}

.about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.moreabout {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    margin-top: 34px;
}

.btn button {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn button:hover {
    background-color: white;
    color: dodgerblue;
}

.hamburger {
    display: flex;
    position: absolute;
    left: 5px;
    margin-top: 14px;
}

img#cross {
    margin-left: 180px;
}

.hamburger,
#ham,
#cross {
    height: 23px;
    width: 23px;
    cursor: pointer;
}